.modalHeadingDiv,
.modalContent,
.modalFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modalHeadingDiv {
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  height: 10%;
}

.modalNavDiv {
  width: 15%;
}

.modalHeader {
  width: 70%;
}

.modalContent {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalFooter {
  height: 10%;
  flex-direction: row;
  justify-content: flex-end;
}

.modalFooter>div {
  margin: 0 0.5rem;
}

.closingFunctionDiv:hover {
  cursor: pointer;
}