.navbar {
  height: min(9vh, 60px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--root-icon-color);
  position: sticky;
  top: 0px;
  z-index: 200;
}

.navbar a {
  color: var(--root-text-color);
}

.navlinks {
  width: 100%;
}

.navlink-data {
  display: flex;
  width: 100%;
}

.navIconComponent {
  width: 100%;
  float: left;
}

.hangoutHeader {
  margin: 0;
}

.hangoutName {
  color: var(--root-theme-color)
}

a {
  text-decoration: none;
}

.iconDiv {
  padding: 0.05vw;
  border-radius: 0.5rem;
}

.navbarBtn {
  border: none;
  outline: none;
}

.active {
  background-color: var(--root-theme-color);
}

.iconDiv:hover {
  background-color: var(--root-hover-color);
  cursor: pointer;
}

.logoutBtn {
  padding: 0.5rem
}

.logoutBtn:hover {
  cursor: pointer;
}

.titleOfNavDiv {
  display: none;
}


@media screen and (max-width: 900px) {
  .iconDiv {
    max-width: 50px;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: max(20%, 250px);
    border-right: 1px solid rgba(156, 156, 156, 0.3);
    border-bottom: 0px;
    padding: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .iconDiv {
    width: 100%;
    display: flex;
  }

  .navlink-data {
    padding: 0.5rem 1rem;
  }

  .titleOfNavDiv {
    display: block;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    width: 70%;
  }

  .navIconComponent {
    width: 40%;
    float: left;
  }

}